body {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Noto Sans", sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/* google icon 預設設定 */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 20px;
}

/* 設計稿字型 class 設定 */
/* ----------- */

/* Heading - font-weight: 700 */
.heading-md {
  font-size: 28px;
  font-weight: 700;
}
.heading-sm {
  font-size: 24px;
  font-weight: 700;
}
.heading-xs {
  font-size: 20px;
  font-weight: 700;
}
.heading-xxs {
  font-size: 18px;
  font-weight: 700;
}
.heading-xxxs {
  font-size: 16px;
  font-weight: 700;
}
.heading-xxxxs {
  font-size: 14px;
  font-weight: 700;
}

/* Label - font-weight: 500 */
.label-md {
  font-size: 16px;
  font-weight: 500;
}
.label-sm {
  font-size: 14px;
  font-weight: 500;
}
.label-xs {
  font-size: 13px;
  font-weight: 500;
}

/* Paragraph - font-weight: 500 */
.paragraph-md {
  font-size: 16px;
  font-weight: 500;
}
.paragraph-sm {
  font-size: 14px;
  font-weight: 500;
}
.paragraph-xs {
  font-size: 13px;
  font-weight: 500;
}

